﻿@model ProjectTracker.Dal.DatabaseModels.Osoba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Osoba</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
    </dl>
</div>
<div>|
    <a asp-action="Index">Back to List</a>
</div>
