﻿@model ProjectTracker.BusinessLibrary.Core.Models.Projekt
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Projekt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatPocetak" class="control-label"></label>
                <input asp-for="DatPocetak" class="form-control" />
                <span asp-validation-for="DatPocetak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatZavrsetak" class="control-label"></label>
                <input asp-for="DatZavrsetak" class="form-control" />
                <span asp-validation-for="DatZavrsetak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
