﻿@model ProjectTracker.BusinessLibrary.Core.Models.ProjektInfoList

@{
    ViewData["Title"] = "Index";
}

<h1>Popis projekata</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Naziv Projekta
            </th>
            <th>
                Opis projekta
            </th>
            <th>
                Započet
            </th>
            <th>
               Završen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zapocet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zavrsen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
